.team{
	width:50%;
}

.league{
	width:20%;
}

.month, .day{
	width:10%;
	float:left;
	margin-right:1%;
}

table{
	width:100%;
}
th{
	border-bottom:1px solid black;
	text-align: center;
	width:25%;
}
td{
	padding:1%;
	text-align: center;

}

.level{
	text-decoration: underline;
	font-weight: bold;
}